body {
    background-image: url("lakemj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.header{
    margin-top: 20px;
    text-align: center;
}

#orca-title {
    font-family: 'Roboto', Sans-Serif;
    font-size: 35px;
    color: white;
}

#orca-subtitle {
    font-family: 'Roboto', Sans-Serif;
    font-size: 26px;
    color: white;
    font-style: italic;
}

#crest {
    width: 50%;
    height:auto;
    margin:auto;
    display: block;

}

.about {
    Font-Family: 'Droid Serif', Serif;
    Font-Size: 15px;
    color: white;
}